body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

html {
    /* for smooth scrolling  */
    scroll-behavior: smooth;
    transition-delay: 1s;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #99A98F;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    border-right-width: thick thin medium;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover {
    color: #FFFDE3;
    margin-left: 20px;
    transition: 0.4s;
}

div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 100%;
    background-color: white;
}
/* Rsponsive ------------------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;

    }
    .sidebar a:hover {
        background-color: #555;
        color: white;
        margin-left: 0px;
    }
    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .Image {
        display: none;
    }

    .hr1,
    .hr2,
    .hr3,
    .hr4 {
        width: 50%;
    }
    .date1 , .date2{
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        width: 100%;
        text-align: center;
        float: none;
        margin-right: 0px;
    }

    .Image {
        display: none;
    }

    .sidebar a:hover {
        background-color: #555;
        color: white;
        margin-left: 0px;
    }

    .date1 , .date2{
       text-align: left;
    }
   
}



@media screen and (max-width: 200px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;

    }

    .Image {
        display: none;
    }

    .footer {
        display: none;
    }
    .date1 , .date2{
        text-decoration: none;
    }
  
}
/* Responsive ------------------------------------------------------------------------------------------------------------------------------ */




.personal-info {
    text-underline-position: under;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-top: 150px;
    margin-bottom: 0px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.title2 {
    color: #606C5D;
}

.email {
    color: #606C5D;
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
}

.description {
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.Image {
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 0.5rem solid #606C5D;
}


/* Style all font awesome icons */
.fa {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    -webkit-text-stroke: 1px black;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    transform: rotate(360deg);
    transition: 1s;
    /* background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); */
    background: linear-gradient(45deg, #66806A 35%, #FFC286 75%, #B4C6A6 50%, #FFF1AF 35%);
}

.hr1 {
    margin-top: 160px;
}

.hr2 {
    margin-top: 210px;
    margin-bottom: 20px;
}

.hr3 {
    margin-top: 210px;
}



.employment {
    font-size: 30px;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.emp-description {
    margin-top: 20px;
    font-size: large;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.date {
    margin-left: 50px;
    color: #606C5D;
}

.date4 {
    margin-left: 130px;
    color: #606C5D;
}

.date5 {
    margin-left: 255px;
    color: #606C5D;
}

.date1 {
    text-align: right;
    font-size: 18px;
    color: #606C5D;
}

.date2 {
    text-align: right;
    font-size: 18px;
    color: #606C5D;
}

.emp-bullet {
    margin-top: 5px;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.education,
.skill1 {
    margin-left: 20px;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: 150px;
    font-size: 30px;
    margin-bottom: 50px;
}

.edu,
.edu1 {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 150px;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-left: 20px;
}

.skill2 {
    margin-top: 30px;
}

.lan {
    line-height: 35px;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: large;
    margin-left: 20px;
}

.footer {
    
    height: 50px;
    margin-top: 230px;
}

.footertext {
    margin-left: 35%;
    padding-top: 10px;
    color: black;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




/* Manify CSS */
/* body {margin: 0;font-family: "Lato", sans-serif;}html {scroll-behavior: smooth;transition-delay: 1s;}.sidebar {margin: 0;padding: 0;width: 250px;background-color: #99A98F;position: fixed;height: 100%;overflow: auto;text-align: center;border-right-width: thick thin medium;}.sidebar a {display: block;color: black;padding: 16px;text-decoration: none;}.sidebar a:hover {color: #FFFDE3;margin-left: 20px;transition: 0.4s;}div.content {margin-left: 250px;padding: 1px 16px;height: 100%;background-color: white;}@media screen and (max-width: 700px) {.sidebar {width: 100%;height: auto;position: relative;}.sidebar a:hover {background-color: #555;color: white;margin-left: 0px;}.sidebar a {float: left;}div.content {margin-left: 0;}.Image {display: none;}.hr1, .hr2, .hr3, .hr4 {width: 50%;}.date1 , .date2{text-align: left;}}@media screen and (max-width: 400px) {.sidebar a {width: 100%;text-align: center;float: none;margin-right: 0px;}.Image {display: none;}.sidebar a:hover {background-color: #555;color: white;margin-left: 0px;}.date1 , .date2{text-align: left;}}@media screen and (max-width: 200px) {.sidebar {width: 100%;height: auto;position: relative;}.Image {display: none;}.footer {display: none;}.date1 , .date2{text-decoration: none;}}.personal-info {text-underline-position: under;font-family: Arial, Helvetica, sans-serif;}.title {margin-top: 150px;margin-bottom: 0px;font-size: 60px;font-family: Arial, Helvetica, sans-serif;}.title2 {color: #606C5D;}.email {color: #606C5D;text-decoration: underline;}a {color: inherit;text-decoration: none;}.description {margin-top: 90px;margin-bottom: 40px;font-size: large;font-family: Arial, Helvetica, sans-serif;}.Image {margin-top: 100px;margin-bottom: 40px;border-radius: 50%;border: 0.5rem solid #606C5D;}.fa {margin: 10px;padding: 20px;text-align: center;border-radius: 50%;-webkit-text-stroke: 1px black;}.fa:hover {opacity: 0.7;transform: rotate(360deg);transition: 1s;background: linear-gradient(45deg, #66806A 35%, #FFC286 75%, #B4C6A6 50%, #FFF1AF 35%);}.hr1 {margin-top: 160px;}.hr2 {margin-top: 210px;margin-bottom: 20px;}.hr3 {margin-top: 210px;}.employment {font-size: 30px;font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}.emp-description {margin-top: 20px;font-size: large;font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}.date {margin-left: 50px;color: #606C5D;}.date4 {margin-left: 130px;color: #606C5D;}.date5 {margin-left: 255px;color: #606C5D;}.date1 {text-align: right;font-size: 18px;color: #606C5D;}.date2 {text-align: right;font-size: 18px;color: #606C5D;}.emp-bullet {margin-top: 5px;font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}.education, .skill1 {margin-left: 20px;font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";margin-top: 150px;font-size: 30px;margin-bottom: 50px;}.edu, .edu1 {line-height: 20px;font-size: 20px;margin-bottom: 150px;font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";margin-left: 20px;}.skill2 {margin-top: 30px;}.lan {line-height: 35px;font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-size: large;margin-left: 20px;}.footer {height: 50px;margin-top: 230px;}.footertext {margin-left: 35%;padding-top: 10px;color: black;font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";} */